body{
    background-color: azure;
}

header {
    box-sizing: border-box;
    text-align: center;
    position: relative;
    top: 20px;
    display: block;
}

h1 {
    font-size: 100px;
}

.tag_properties{
    font-family: monospace;
    background-color: gray;
}

thead{
    font-weight: bold;
    background-color: blueviolet;
}

.table_section h2{
    color: blueviolet;
}

.table_section{
    display: table;
    margin: 0 auto;
}

table{
    border: 2px solid black;
}

td {
    padding: 15px;
}