body{
    background-color: azure;
}

header {
    box-sizing: border-box;
    align-items: center;
    position: relative;
    top: 20px;
}

h1 {
    font-size: 100px;
}

.tag_properties{
    font-family: monospace;
}

thead{
    font-weight: bold;
    background-color: blueviolet;
}

.table_section h2{
    color: blueviolet;
}

.table_section{
    align-items: center;
}

table{
    border: black;
}